**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd


**/venv/
**/env/


**/.env
**/*.log


**/.git/
**/.gitignore
**/.vscode/
**/.idea/


**/coverage/
**/tests/

**/.DS_Store


Dockerfile
.dockerignore
README.md
docker-compose.yml